body {
  background-color: #160F29;
  color: white;
}

.navbar {
  background-color: #246a73;
}

.card {
  color: black;
}


#tracker-page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

#sidebar { 
  grid-area: 1 / 1 / 6 / 2;
}

#cardArea { 
  grid-area: 1 / 2 / 6 / 6; 
}

#littleButton {
  width: 50px;
}

#create-account-page {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 450px;
  background-color: grey
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media screen and (max-width: 600px) {
  #mainPage {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  
  #sidebar { 
    grid-area: 1 / 1 / 2 / 6;
  }
  
  #cardArea {
    grid-area: 2 / 1 / 6 / 6; 
  }
}

#home-container {
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  }
  
#home-main { 
  grid-area: 1 / 1 / 6 / 5; 
  background-color: aquamarine;
}
#home-image { 
  grid-area: 1 / 5 / 6 / 7; 
  background-color: pink;
  background-image: url('./components/images/classroomVertical1.jpg');
  background-size: cover;

}
#home-message { 
  grid-area: 2 / 2 / 5 / 4; 
  background-color: yellow;
}